[submodule "modules/webapp"]
	path = modules/webapp
	url = git://github.com/sorki/puppet-module-webapp.git
[submodule "modules/python"]
	path = modules/python
	url = git://github.com/sorki/puppet-module-python.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = git://github.com/sorki/puppet-module-nginx.git
[submodule "modules/supervisor"]
	path = modules/supervisor
	url = git://github.com/sorki/puppet-module-supervisor.git
